{% extends "expenses_app/layout.html" %}

{% block js %}
    {% load staticfiles %}
    {{ block.super }}
    <script src="{% static 'expenses_app/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div data-ng-controller="ChartsCtrl" data-ng-cloak="">
        <div class="page-charts col-md-8 col-md-offset-2">
            <h1>Charts</h1>

            <canvas id="billsChart" width="400" height="250"></canvas>
        </div>
    </div>

    <script>
        config['url_two_weeks_data'] = '{% url 'expenses_app:two_weeks_data' %}';
    </script>
{% endblock %}