nav#menu {
    height: 40px;
    line-height: 36px;
    font-size: 18px;
    background-color: $dark-color;
    border-bottom: 2px solid $text-on-dark;
    color: $text-on-dark;

    > ul {
        cursor: default;
        display: inline;
        padding-left: 0px;

        li {
            list-style-type: none;
            display: inline;
            padding-left: 15px;
            padding-right: 5px;

            a {
                color: $text-on-dark;
            }

            a:focus, a:hover {
                color: $text-on-dark-active;
                text-decoration: none;
            }
        }
    }

    span {
        font-weight: 700;
        font-size: 22px;
        padding: 0px 15px;
        border-right: 2px solid $text-on-dark;
    }

    .dropdown {
        float: right;
        padding-right: 10px;
        font-size: 20px;
        line-height: 36px;
        cursor: pointer;

        &:hover {
            color: $text-on-dark-active;
        }
    }
}