.page-new-bill {
    .bill-rows {
        .row {
            margin-top: 10px;

            div {
                .fa {
                    margin-top: 3px;
                    font-size: 21px;
                }
            }
        }
    }
}