$primary-color: #02FF47;
$strong-color: #017F23;
$light-color: #80FFA2;
$background-color: #BEFFDC;
$dark-color: #032F14;

$text-on-dark: #099B60;
$text-on-dark-active: lighten($text-on-dark, 5);

$error-color: #DD3333;